.my-container {
    max-width: 1080px;
    height: 100vh;
    font-family: "nastliq", sans-serif;
}

.category-list {
    height: 40px;
}

.category-list li:hover {
    background-color: green;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}
